.register {
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../assets/loginBackground.jpg");
  background-size: cover;
  background: calc(100vh-50px);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.registerTitle {
  font-size: 4rem;
  color: #343a40;
  /* margin-top: 2rem; */
  padding: 1rem;
}

.registerForm {
  width: 400px;
  /* height: 400px; */
  background-color: rgba(255, 255, 255, 0.787);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputRegisterLabel {
  width: 250px;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  color: #495057;
  font-weight: 700;

  /* text-align: start; */
  /* background-color: aquamarine; */
}

.inputText {
  width: 250px;

  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
}
.inputText:focus {
  border: 2px solid #ff8787;
}

.btn {
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0.8rem;
  width: 150px;
  background-color: #38d9a9;

  color: #fff;
  margin: auto;
  margin: 2rem;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  cursor: pointer;
}

.btnLogin {
  position: absolute;
  top: 2rem;
  right: 5rem;
  background-color: #ff8787;
}
